$large-up: "only screen and (max-width: 1440px)";
$large-down: "only screen and (max-width: 1150px)";
$medium-up: "only screen and (max-width: 850px)";
$medium-down: "only screen and (max-width: 768px)";
$small-up: "only screen and (max-width: 630px)";
$small-md: "only screen and (max-width: 500px)";
$small-down: "only screen and (max-width: 400px)";
